@charset "UTF-8";
/****************************** Importación de Fuentes Web ******************************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/****************************** Variables ******************************/
/****************************** Mixins ******************************/
/****************************** Estilos Globales ******************************/
html {
  font-size: 16px;
  max-height: 100rem;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal overflow */
}

h1 {
  font-family: "PT Serif", serif;
  color: #382742 !important;
}

h2 {
  font-family: "PT Serif", serif;
  color: #E88A8A !important;
}

p, label {
  font-family: "Open Sans", sans-serif;
}

label {
  color: #382742 !important;
}

input::-moz-placeholder {
  color: rgba(56, 39, 66, 0.5) !important;
}

input::placeholder {
  color: rgba(56, 39, 66, 0.5) !important;
}

span.required-field {
  color: #E16666;
  font-size: 0.625rem;
}

/****************************** Estilos del Nav ******************************/
.navbar-style {
  transition: all 1s ease;
  background-color: #EDF5FC !important;
}

.navbar-style:hover {
  background-color: #EDF5FC !important;
  box-shadow: 0 0 0.625rem #788D91;
}

.navbar {
  padding: 0.75rem;
  letter-spacing: 0.125rem !important;
  border-bottom: 0.25rem solid #382742;
  height: 6.25rem;
}

.navbar-logo {
  width: 12.5rem;
  height: 3.438rem;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.nav-item a {
  color: #382742 !important;
  font-size: larger;
  font-weight: 500;
}

.navbar-menu-option {
  font-family: "Open Sans", sans-serif;
  color: #211727 !important;
  font-size: 80px;
  transition: all 1s ease;
}

.dropdown-menu a:hover {
  background-color: #D6D6D6 !important;
}

.option-menu:hover {
  color: #EDF5FC !important;
  border-radius: 0.313rem;
  background-color: #211727;
  transition: all 1s ease;
}

.option-menu:active {
  background-color: #D6D6D6;
}

.dropdown-menu a {
  color: #382742;
}

.dropdown-menu a:hover {
  background-color: #211727;
}

/****************************** Menu Hamburguesa ******************************/
.navbar-toggler {
  background-color: #E88A8A;
  border: 0.063rem solid #211727;
}

.navbar-toggler:hover {
  background-color: #211727;
}

.custom-toggler.navbar-toggler {
  border-color: #E88A8A;
  border-width: 0.063rem;
}

/****************************** Buttons ******************************/
.btn-primary-booksy {
  background-color: #382742 !important;
  border-color: #382742 !important;
  color: #EDF5FC !important;
}

.btn-primary-booksy:hover {
  background-color: rgba(56, 39, 66, 0.5) !important;
  border-color: rgba(56, 39, 66, 0.5) !important;
  color: #B9D8f3 !important;
}

.btn-secondary-booksy {
  background-color: #E88A8A !important;
  border-color: #E88A8A !important;
  color: #EDF5FC !important;
}

.btn-secondary-booksy:hover {
  background-color: #E16666 !important;
  border-color: #E16666 !important;
  color: #B9D8f3 !important;
}

.btn-outline-booksy {
  border-color: #382742 !important;
  color: #382742 !important;
}

.btn-outline-booksy:hover {
  background-color: rgba(56, 39, 66, 0.5) !important;
  border-color: #382742 !important;
  color: #EDF5FC !important;
}

/****************************** Estilos del Nav ******************************/
.navbar-style {
  transition: all 1s ease;
  background-color: #EDF5FC !important;
}

.navbar-style:hover {
  background-color: #EDF5FC !important;
  box-shadow: 0 0 0.625rem #788D91;
}

.navbar {
  padding: 0.75rem;
  letter-spacing: 0.25rem;
  border-bottom: 0.25rem solid #382742;
  height: 6.25rem;
}

.navbar-logo {
  width: 12.5rem;
  height: 3.438rem;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.nav-item a {
  color: #382742 !important;
  font-size: larger;
  font-weight: 500;
}

.navbar-menu-option {
  font-family: "Open Sans", sans-serif;
  color: #211727 !important;
  font-size: 80px;
  transition: all 1s ease;
}

.dropdown-menu a:hover {
  background-color: #D6D6D6 !important;
}

.nav-link {
  font-size: 0.938rem !important;
  transition: font-size 0.3s ease !important;
}

.nav-link:hover {
  font-size: 1.063rem !important;
}

.navbar-logo img {
  transition: all 1s ease;
}

/****************************** Línea separadora ******************************/
.separator-line {
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  background-color: #382742;
}

/****************************** Lista de libros - Elementos ******************************/
.text-bg-booksy:hover {
  color: #EDF5FC;
  background-color: #382742;
}

.text-bg-booksy {
  color: #EDF5FC;
  background-color: rgba(56, 39, 66, 0.5);
}

.add-book-cart:hover {
  color: #211727 !important;
  transition: font-size s ease !important;
  cursor: pointer;
}/*# sourceMappingURL=general.css.map */